<nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-light">
    <div class="container px-5 py-3">
        <a class="navbar-brand text-primary" href="/">Anıl Emlak</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            
            <a class="btn fw-500   btn-primary" [routerLink]="['/giris']">
                Giriş Yap
           
            </a>
        </div>
    </div>
</nav>
<div class="container py-3">
    <div class="border p-5">
        
        <img class="img-fluid w-25 rounded-3" src={{ilanDetay.resim}} />
        <div><h1>{{ilanDetay.ilanadi}}</h1></div>
        <hr>
        <div><h1>{{ilanDetay.odasayisi}}</h1></div>
        <hr>
        <div><h1>{{ilanDetay.adres}}</h1></div>
        <hr>
        <div>{{ilanDetay.detail}}</div>
    </div>
</div>


